@keyframes bounce {
    to { transform: scale(1.1); }
}

body {
    background-color: azure;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body.dark {
    background-color: #141414;
    color: azure;
}

button {
    background-color: #272727;
    color: azure;
    border: #141414 solid 1px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
    font-size: medium;
}

.cookieAnimated {
    animation: bounce .4s infinite alternate;
}

.center {
    display: grid;
    place-content: center;
}

.bounce {
    position: relative;
}